<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>





    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".ui_all.MainActivity"
            android:exported="true">

        </activity>

        <!-- Màn hình Dashboard -->
        <activity android:name=".ui_all.DashboardActivity" android:exported="true"/>

        <!-- Màn hình Đăng nhập -->
        <activity android:name=".auth.LoginActivity" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <!-- Màn hình Đăng ký -->
        <activity android:name=".auth.RegisterActivity" android:exported="true"/>

        <!-- Màn hình Đổi mật khẩu -->
        <activity android:name=".auth.ChangePasswordActivity" android:exported="true"/>

        <!-- Màn hình Cài đặt -->
        <activity android:name=".ui_all.SettingsActivity" android:exported="true"/>

        <!-- Màn hình Thống kê chi tiêu -->
        <activity android:name=".ui_all.StatisticsActivity" android:exported="true"/>

        <!-- Màn hình Danh sách giao dịch -->
        <activity android:name=".ui_all.TransactionListActivity" android:exported="true"/>

        <!-- Màn hình Thêm giao dịch -->
        <activity android:name=".ui_all.AddTransactionActivity" android:exported="true"/>

        <!-- Màn hình Chi tiết giao dịch -->
        <activity android:name=".ui_all.TransactionDetailActivity" android:exported="true"/>

        <!-- Màn hình Quản lý giao dịch -->
        <activity android:name=".ui_all.TransactionActivity" android:exported="true"/>

    </application>

</manifest>